.nav-link:last-child{
    color:#ed3426;
    border:white 2px solid;
}

.nav-link{
    border:white 2px solid;
}

.nav-link:hover{
    border-bottom-color:#ed3426;
    color:black;
}

.nav-link:last-child:hover{
    color:#ed3426;
}

#imglogo{
    margin-left:80px;
}

.nav-link{
    color:black;
    font-size:larger;
    margin-top:6px;
}

#main-header {
    background: #333;
    color: white;
    height: 80px;
    width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
    left: 0; /* Posicionamos la cabecera al lado izquierdo */
    top: 0; /* Posicionamos la cabecera pegada arriba */
    position: fixed; /* Hacemos que la cabecera tenga una posición fija */
}

div{
    z-index:-1;
}

h2{
    text-align:center;
    font-weight:bold;
    color:black;
    font-size:53px;
    line-height:74px;
}

div>p{
    text-align:center;
    color:black;
    font-size:18px;
    font-weight:bold;
}



h3{ 
    text-align:center;
    font-weight:bold;
    color:black; 
}
h3:hover{
    color:#ed3426;
}

a:hover{
    text-decoration:none;
}

div>p a{
    color:#ed3426;;
}

div>p a:hover{
    color:#ed3426;;
}

u{
    color:#ed3426;
}

span{
    color: black;
    padding:14px;
    padding-top:14px;
}

.date{
    color:#ed3426;
    padding:14px;
}

.card{
    background-color:#f5f5f5;
    border-color:white;
}

.location-text{
    color:#505050;
}

.card>a{
    padding-top:16px;
}

h1{
    color: white;
    font-size: 100px;
    text-align: center;
    padding-top: 120px;
    font-family: 'Embedded-DINWebPro-Black', 'DIN Next W01 Bold', Arial, sans-serif;
}

#blanco{
    background-color:white;
    border-color:white;
}

h4{
    text-align:center;
    font-weight:bold;
    color:black; 
}

h4:hover{
    color:#ed3426;
}

.btn-outline-danger{
    text-align:center;
    font-weight:bold;
    border-color:#ed3426;
    color:#ed3426;
}

.btn-outline-danger:hover{
    background-color:white;
    color:#ed3426;
}

